<apex:page controller="AuthenticateGoogleAppWithSalesforce">
    <apex:form >
        <apex:pageBlock >
            <apex:commandButton action="{!authenticateApp}" value="Athenticate"></apex:commandButton>
        </apex:pageBlock>
    </apex:form>
</apex:page>